ul.list li {
	list-style-type: none;
}

.inline-list ul.list li {
	display: inline-block;
}

div.floater {
	float: left;
	margin: 10px;
}

@media print {
	a {
		color: black;
		text-decoration: none;
	}
}